name: Archs

on: [push, pull_request]

#on:
#  push:
#    branches: [ master ]
#  pull_request:
#    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-22.04
    name: ${{ matrix.arch }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: armv6
            distro: alpine_latest
            # bookworm
#          - arch: armv7
#            distro: ubuntu_latest
#          - arch: aarch64
#            distro: ubuntu_latest
#          - arch: riscv64
#            distro: ubuntu_latest
#          - arch: s390x
#            distro: ubuntu_latest
#          - arch: ppc64le
#            distro: ubuntu_latest
  
    steps:
    - uses: actions/checkout@v4
    - uses: uraimo/run-on-arch-action@v2
      name: Build
      id: build
      with:
        arch: ${{ matrix.arch }}
        distro: ${{ matrix.distro }}
        install: |
          apk update && apk add --no-cache wget jansson hiredis cjose cjose-dev autoconf build-base automake apache2-dev curl-dev pcre-dev pcre2-dev libtool
          #apt-get update -y
          #apt-get install -y apache2-dev libcjose-dev libssl-dev check pkg-config wget
          #apt-get install -y libjansson-dev libcurl4-openssl-dev libhiredis-dev libmemcached-dev redis-server memcached libpcre2-dev libpcre2-8-0 libjq-dev
          #apt-get install -y build-essential libpcre3 libpcre3-dev zlib1g zlib1g-dev libxml2 libxml2-dev uuid-dev
          cd /tmp
          #apt-get install -y nginx
          #apt-get install -y libghc-regex-pcre-dev libxslt-dev libgd-dev libgeoip-dev
          apk update && apk add memcached-dev memcached hiredis-dev redis jansson-dev jq-dev check-dev
          apk update && apk add nginx
          apk update && apk add libxslt-dev gd-dev geoip-dev
          nginx -V 2>&1 | grep -m1 version | cut -d: -f2 | cut -d/ -f2 > /tmp/nginx-version
          
          nginx -V 2>&1 | grep configure | cut -d: -f2- > /tmp/nginx-args
          #apt-get remove -y nginx && apt-get autoremove -y
          sed -i s/--add-dynamic-module=[^[:space:]]*//g /tmp/nginx-args
          #sed -i s/--with-http_xslt_module=[^[:space:]]*//g /tmp/nginx-args
          #sed -i s/--with-http_geoip_module=[^[:space:]]*//g /tmp/nginx-args
          #sed -i s/--with-stream_geoip_module=[^[:space:]]*//g /tmp/nginx-args
          #sed -i s/--with-http_image_filter_module=[^[:space:]]*//g /tmp/nginx-args
          
          wget --progress=bar:force:noscroll --no-check-certificate https://nginx.org/download/nginx-$(cat /tmp/nginx-version).tar.gz
          tar zxf nginx-$(cat /tmp/nginx-version).tar.gz
          cd nginx-$(cat /tmp/nginx-version)
          #echo "Configuring NGINX-$(cat /tmp/nginx-version): ./configure $(cat /tmp/nginx-args)"
          #cat /tmp/nginx-args | xargs ./configure
          ./configure
          cd ..
          ln -s nginx-$(cat /tmp/nginx-version) nginx
        run: |
          ./autogen.sh
          ./configure --with-nginx=/tmp/nginx --with-jq=/usr
          #sed -i "s/-l/#-l/g" /etc/memcached.conf
          #service memcached start && service redis-server start && make check || (cat test-suite.log && exit -1)
          memcached -u memcached -d && redis-server --daemonize yes && make check || (cat test-suite.log && exit -1)
